---
const posts = await Astro.glob('../posts/*.mdx')

export async function getStaticPaths() {
  const test = await Astro.glob('../posts/*.mdx')
  return [...new Set(test.map((e:any) => e.cate).toString().split(','))].map(e => ({
    params: {
      categories: e.replace(/[ ]/g, '_')
    }
  }))
}

import Layout from "../../components/Layout.astro";
import ListCard from "../../components/ListCard.astro";

const {categories} = Astro.params
const arr = posts.filter((e:any) => e.cate.split(',').includes(categories.replace('_', ' '))).sort((a:any, b:any) => a.frontmatter.id - b.frontmatter.id)
---
<Layout title={`Post in categories ${categories}`} sub="Best article posts in categories" thumb="/favicon.png">
  <h1 class="text-2xl bg-info p-2">All {categories.replace('_', ' ')} Post</h1>
  <ListCard posts={arr} e={false} content='main' />
</Layout>
