---
import Layout from "../../components/Layout.astro";
import ListCard from "../../components/ListCard.astro";
const posts = await Astro.glob('../../posts/*.mdx')
const years = posts.map((e:any)=> e.cate).toString().split(',')
const arr = [...new Set(years)]
---

<Layout title="Categories posts in Ananta Blog" sub="Best article posts in categories" thumb="/favicon.png">
    {arr.map(e => 
       <div class="flex justify-between bg-info p-2">
        <h1 class="text-2xl">All {e} Post</h1>
        <button class="btn btn-outline btn-sm">
            <a rel="prefetch"  href={`/categories/${e}`}>See more</a>
        </button>
    </div>
        <ListCard posts={posts} e={e} content="categories" />
    )}
</Layout>
