---
import Layout from "../components/Layout.astro";
---

<Layout title="error not found" sub="error 404" thumb="/favicon.png" >
    <div class="flex items-center justify-center w-full h-full text-center">
        404 Not Found
    </div>
</Layout>