---

---
<div class="w-full h-fit flex flex-col rounded-xl bg-slate-700 text-white p-5">
    <div class="text-4xl flex justify-between items-center">
        <h1>
            Table of Content
        </h1>
        <svg id='arrow' class="cursor-pointer active:scale-90" width="42" height="42" viewBox="0 0 24 24"><path fill="white" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4Z"/></svg>
    </div> 
    <ul id='table_content' class="flex flex-col gap-2 p-5 hidden">
    </ul>
</div>
